.category-nav-div {
  display: flex;
  gap: 20px;
  border: 2px solid gray;
  height: 50px;
  padding-left: 20px;
}
.category-nav-item-active {
  color: rgb(0, 177, 248);
  border-bottom: 3px solid skyblue;
}
.category-nav-item-inActive {
  color: grey;
}
.category-nav-div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
