.header-main-div{
    width: 100%;
    background-color: gray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0; */
}

