.table-main {
  width: 100% !important;
  border: 1px solid #fff;
}
/* .table-headings {
  background-color: #b2b2b2;
} */
.table-th{
    width:16.6% ;
    text-align: left;
}
table, .table-th, .table-td {
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
  }

.table-td,.table-th{
    padding: 5px;
}
.table-tr:nth-child(odd) {
  background-color: #ececec;
}
.table-tr:nth-child(odd):hover {
  background-color: #bababa;
  transition: all 0.3s linear;
}
.table-tr:nth-child(even):hover {
  background-color: #bababa;
  transition: all 0.3s linear;
}
.table-div{
    overflow-y: auto;
    max-height: 80vh;
}

.active-background{
  background-color: rgb(176, 175, 175) !important;
}